In [1]:
import pandas as pd
import numpy as np, string
import json

In [31]:
# # import1 - product heading
# df_headers = pd.read_csv('/home/danyzix/Data/Flix_products/product_heading.txt', sep=" ", header=None)   
# #df1 = pd.read_csv('features.csv', dtype={'title': object, 'html': object})

In [2]:
# import2 - product specs
df_specs = pd.read_csv('/home/danyzix/Data/Flix_products/product_specifications.csv')
# count the number if data in each columns
df_specs.apply(lambda x: x.count(), axis=0)

product_id    6180381
title         6170436
value         6129494
dtype: int64

In [3]:
df_specs.head()

   product_id                    title              value
0      582002             Aspect ratio        2.39:1,21:9
1      582002               Brightness                500
2      582002  Dynamic screen contrast       10.000.000:1
3      582002  Response time (typical)    0.5 (BEW equiv)
4      582002            Viewing angle  176º (H)/176º (V)

In [4]:
df_specs['title:value'] = df_specs['title'] + ':' + df_specs['value']

In [5]:
df_specs.head()

,product_id,title,value,title:value
0,582002,Aspect ratio,"2.39:1,21:9","Aspect ratio:2.39:1,21:9"
1,582002,Brightness,500,Brightness:500
2,582002,Dynamic screen contrast,10.000.000:1,Dynamic screen contrast:10.000.000:1
3,582002,Response time (typical),0.5 (BEW equiv),Response time (typical):0.5 (BEW equiv)
4,582002,Viewing angle,176º (H)/176º (V),Viewing angle:176º (H)/176º (V)

In [6]:
# replace NA by empty string
specs_list = df_specs.groupby('product_id')['title:value'].unique().reset_index()
specs_list.fillna('', inplace=True)
specs_list.head(10)

   product_id                                        title:value
0      400002  [Maximum dimensions (W x D x H):449 x 558 x 37...
1      400004  [Media size (ADF):A4, Media sizes, custom:76 x...
2      400006  [Media weight (tray 1):64 to 216 g/m², Media s...
3      400008  [Dimensions (W x D x H):452 x 473 x 199 mm, Ma...
4      400010  [Package dimensions (W x D x H):527 x 335 x 51...
5      400012  [Maximum dimensions (W x D x H):17.8 x 22.75 x...
6      400018  [Datasheet photo 1:Publication photos/CP2020.j...
7      400020  [Minimum dimensions (W x D x H):427 x 406 x 24...
8      400022  [Minimum dimensions (W x D x H):413 x 510 x 43...
9      400024  [Datasheet photo 1:Publication photos/CC436A.j...

In [8]:
# import3 - product titles and categories
df_titles = pd.read_csv('/home/danyzix/Data/Flix_products/product_title.csv', engine='python')
df_titles.head()

,product_id,title,Categories
0,400002,HP Photosmart eStation Printer,Printers and Multifunction | Inkjet All-in-One...
1,400004,HP LaserJet Pro M1217nfw Multifunction Printer,Printers and Multifunction | Laser Multifuncti...
2,400006,HP LaserJet 9050dn Printer,Printers and Multifunction | Black and White L...
3,400008,HP Photosmart Premium All-in-One Printer - C309g,HP Photosmart Premium All-in-One Printer serie...
4,400010,HP Photosmart Premium Fax e-All-in-One Printer...,HP Photosmart Premium Fax e-All-in-One Printer...

In [9]:
# import4 - product titles, mpns, brands
df_mpns = pd.read_csv('/home/danyzix/Data/Flix_products/products.csv', sep='\t')
columns = ['product_id','product_title','description','manufacturer_id','brand_title']
df_mpns = df_mpns[columns]
df_mpns.head(2)

/home/danyzix/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,product_id,product_title,description,manufacturer_id,brand_title
0,3,Crematic Coffee Maker,Crematic Coffee Maker,53.0,Groupe SEB
1,4,Vitamin Plus 3-Tier Steamer,Vitamin Plus 3-Tier Steamer,4.0,Tefal

In [11]:
# import5 - product keywords and mpns
df_keyword = pd.read_csv('/home/danyzix/Data/Flix_products/product_mpns.csv')
df_keyword.head()

,product_id,title,mpn,keyword,language_id
0,1,\N,canon_123121,\N,\N
1,1,\N,canon_123123,\N,\N
2,309960,\N,309960,\N,\N
3,338182,\N,Synthrone-flix360-test-16-03-2017-1110,\N,\N
4,400002,\N,BUN17564,\N,\N

In [12]:
# replace all \N with empty strings
df_keyword = df_keyword.replace(r'\\N', np.nan, regex=True)
df_keyword.fillna('', inplace=True)
df_keyword.head()

,product_id,title,mpn,keyword,language_id
0,1,,canon_123121,,
1,1,,canon_123123,,
2,309960,,309960,,
3,338182,,Synthrone-flix360-test-16-03-2017-1110,,
4,400002,,BUN17564,,

In [13]:
# extract all unique MPNs for each product
mpn_list = df_keyword.groupby('product_id')['mpn'].unique().reset_index()
mpn_list.fillna('', inplace=True)
mpn_list[:10]

   product_id                                                mpn
0           1                       [canon_123121, canon_123123]
1      309960                                           [309960]
2      338182           [Synthrone-flix360-test-16-03-2017-1110]
3      400002                     [BUN17564, CQ140B, CQ140B#617]
4      400004  [ CE844A,  CE844A Bundle,  CE844AR | , 415457,...
5      400006  [ Q3723A#ABA,  Q3723AR#ABA | , 238774, 9SIA0ZX...
6      400008  [CD055A, CD055A#AB0, CD055A#AB1, CD055A#AB5, C...
7      400010  [CQ521A, CQ521A#AB0, CQ521A#AB1, CQ521A#AB5, C...
8      400012                                           [CN220B]
9      400014  [CQ721A, CQ721A#1H3, CQ721A#201, CQ721A#AB0, C...

In [14]:
# extract all unique keywords for each product
keywords = df_keyword.groupby('product_id')['keyword'].unique()

In [15]:
len(set(df_keyword['product_id']))

730021

In [16]:
# merge import 3, 4 and 5 on key fields
df_products = pd.merge(df_mpns, df_titles, on='product_id', how='inner')
df_products = pd.merge(df_products,mpn_list, on='product_id', how='left')
df_products = pd.merge(df_products,specs_list, on='product_id', how='left')

# Remove the pipes '|' in the Categories
# df_products['Categories'] = df_products['Categories'].str.replace('|', '')

# create only one title per product as there are some duplicates
df_products['new_title']=np.nan
for i in range(len(df_products)):
    if pd.isnull(df_products.loc[i, 'product_title']):
        df_products.loc[i, 'new_title'] =  df_products.loc[i, 'title'] 
    else:
        df_products.loc[i,'new_title'] =  df_products.loc[i, 'product_title']
# drop redundant columns
df_products.drop(['product_title','title'], axis=1, inplace=True)

df_products = df_products.rename(columns={'brand_title':'brand','new_title':'title','title:value':'specs'})

cols = ['title','mpn','brand','specs','Categories','description','product_id']
df_products = df_products[cols]
df_products.head(2)

,title,mpn,brand,specs,Categories,description,product_id
0,HP EliteBook 840 G1 Notebook PC,"[J8Q77EA, J8Q77EA#ABU, J8Q77EA#UUG, J8Q77EA#UUZ]",HP,[Warranty:3-year limited warranty (upgrades av...,Laptops And Hybrids | Business Laptop PCs | HP...,NaN,881868
1,Speedlight SB-N7,"[FSA90901, FSA90902]",Nikon,[Electronic construction:Automatic Insulated G...,Speedlights,<p>Do more with the light. The compact and lig...,876236

In [17]:
# save dataframe to disk
df_products.to_csv('/home/danyzix/Data/df_products.csv', sep='\t')

In [215]:
# to load the data back
# df_products_1 = pd.read_csv('/home/danyzix/Data/df_products.csv', sep='\t')

In [18]:
df_products_1 = df_products.copy()
# necessary to replace NaN with empty string for the following steps
df_products_1 = df_products_1.replace(np.nan, '', regex=True)

In [19]:
# function to convert an narray to list of string
def array_to_list_column(column):
    x = []
    for i in range(len(df_products_1)):
        if len(df_products_1.loc[i,column]) > 0:   # takes care of rows which are blank
            temp = df_products_1.loc[i,column].astype(str).tolist()   # some data are blank, converting to string to list them
            temp = " ".join(temp)
        else:
            temp = ""
        x.append(temp)           
    return x

In [20]:
# convert arrays to strings
df_products_1['mpns'] = array_to_list_column('mpn')
df_products_1['specifications'] = array_to_list_column('specs')

In [22]:
# reorder the dataframe
col = ['title','brand','mpns','Categories','specifications','description','product_id']
df_products_1 = df_products_1[col]
df_products_1.head()

,title,brand,mpns,Categories,specifications,description,product_id
0,HP EliteBook 840 G1 Notebook PC,HP,J8Q77EA J8Q77EA#ABU J8Q77EA#UUG J8Q77EA#UUZ,Laptops And Hybrids | Business Laptop PCs | HP...,Warranty:3-year limited warranty (upgrades ava...,,881868
1,Speedlight SB-N7,Nikon,FSA90901 FSA90902,Speedlights,Electronic construction:Automatic Insulated Ga...,<p>Do more with the light. The compact and lig...,876236
2,Electrolux EFC60465OX Chimney Design Hood 60 c...,Electrolux Major,EFC60465OX,Electrolux | NonStar | Cooker_Hood,Product Installation:Built-in Product Type:Coo...,The effortless and clean design of this tradit...,888696
3,Electrolux EFC90468OX Chimney Design Hood 90 c...,Electrolux Major,EFC90468OX,Electrolux | NonStar | Cooker_Hood,Product Installation:Built-in Product Type:Coo...,The effortless and clean design of this tradit...,888693
4,Oven EVY9841AOX,Electrolux Major,EVY9841AOX,Electrolux | NonStar | Oven,Product Installation:Built-in Product Type:Bui...,60cm wide multifunctional compact integrated o...,888664

In [23]:
# save dataframe as a record json format
df_products_1.to_json('/home/danyzix/Data/brand_products_json.txt', orient='records')

In [24]:
# open the text data as a json object
with open('/home/danyzix/Data/brand_products_json.txt') as json_file:  
    dict_products = json.load(json_file)
json_file.close()

In [25]:
dict_products[2]

{'title': 'Electrolux EFC60465OX Chimney Design Hood 60 cm 70 dB',
 'brand': 'Electrolux Major',
 'mpns': 'EFC60465OX',
 'Categories': 'Electrolux | NonStar | Cooker_Hood',
 'specifications': 'Product Installation:Built-in Product Type:Cooker Hood Product Class:Cooker Hood Frequency:50/60 Voltage:220-240 Colour:Stainless Steel Required Fuse:10 Chimney colour:Stainless Steel Height (mm):705 Height max. external:1140 Width (mm):598 Depth (mm):500 Net Weight:12.7 Cord Length:1.5 Air Outlet:150 Air capacity / high (m³/h):603 Air capacity / low (m³/h):272 Motor absorption:243 Noise power High in dB(A):68 Noise power Low in dB(A):49 Noise power Recirculation High in dB(A):70 Noise power Recirculation Low in dB(A):63 No. of speed settings:3 Size:60 N° of motors:1 Minimum distance from cooking top:50 Minimum distance from cooking top:65 No. of lamps:2 flix_series:F flix_category_val:COOKER_HOOD flix_sub_brand:ELECTROLUX typology:Cooker Hood flix_GHSubGroup:6168',
 'description': 'The effortless and clean design of this traditional cooker hood will make for a nice match with your other kitchen appliances. 60cm stainless steel cooker hood, with charcoal filter included.',
 'product_id': 888696}